.ipynb_checkpoints/
.DS_Store
__pycache__/
old
chaosHovmollerPlot.ipynb
chaosPlot.ipynb
spectralDensity.ipynb
uncertainties.ipynb
figModel.ipynb

figures_ntracked/
chaosmagpy_package_0.11/
data_ntracked/
data/
